body {
  background-color: white;
  /* background-image: url("../images/lens.jpg"); */
}
.bgimg-1 {
  background-image: url("../images/cyber1.jpg");
  background-position: center;
  /* opacity: 0.6; */
  /* height: 900px; */
  /* min-height: 100%; */
  height: 100vh;
  min-width: 100wh;
  /* align-self: center; */
}

.case-image {
  background-image: url("../images/scratched.jpg");
  background-position: center;
  /* height: 1000px; */
  /* opacity: 0.6; */
  /* height: 900px; */
  /* min-height: 100%; */
  /* height: 100vh; */
  /* min-width: 100wh; */
  /* align-self: center; */
}

/* .display {
  border: 1px solid grey;
  width: 400px;
  height: 30px;
  text-align: right;
  padding: 5px;
} */

/* grid */

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: transparent;
  color: #444;
}

.left-pane {
  /* display: -ms-grid; */
  display: grid;
  grid-column: 1;
  grid-row: 1;
  /* -ms-grid-columns: 100px 100px 100px 100px; */
  /* grid-template-columns: 130px 130px 130px 130px; */
  grid-gap: 10px;
  background-color: transparent;
  font-size: 70px;
  padding-top: 40px;
  /* color: white; */
  /* width: 900px; */
}

.wrapper-calculator {
  /* display: -ms-grid; */
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1;
  /* -ms-grid-columns: 100px 100px 100px 100px; */
  grid-template-columns: 130px 130px 130px 130px;
  grid-gap: 10px;
  background-color: transparent;
  color: #444;
  padding: 40px;
  
  /* width: 900px; */
}

.deviceCase-on {
  /* background-color: black; */
  /* background-image: url("../images/silver2.jpg"); */
  color: #fff;
  border-radius: 5px;
  padding: 40px;
  font-size: 150%;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  grid-row: 1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 2px solid  #9ecaed;
  border-radius: 7px;
  outline: none;
  box-shadow: 0 0 10px #9ecaed; 
  height: 750px;
}

.deviceCase-off {
  /* background-color: black; */
  /* background-image: url("../images/silver2.jpg"); */
  color: #fff;
  border-radius: 5px;
  padding: 40px;
  font-size: 150%;
  text-align: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  grid-row: 1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 2px solid grey;
  border-radius: 7px;
  outline: none;
  /* box-shadow: 0 0 10px #9ecaed;  */
  height: 750px;
}

.boxDisplay-on {
  /* background-color: rgb(14, 65, 18); */
  background-image: url("../images/grid_ingame.png");
  
  color: lightblue;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 20px;
  font-size: 150%;
  text-align: right;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  grid-row: 1;
  border: 2px solid  #02fa38;
  border-radius: 7px;
  outline: none;
  box-shadow: 0 0 10px #02fa38; 
  height: 80px;
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: clip; */
}

.innerDisplay {
  float: right;
}

.boxDisplay-off {
  background-color: black;
  color: black;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 20px;
  font-size: 150%;
  text-align: right;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  grid-row: 1;
  border: 2px solid grey;
  border-radius: 7px;
  outline: none;
  /* box-shadow: 0 0 10px #9ecaed;  */
  height: 80px;
}

.box-on {
  background-color: black;
  /* color: lightblue; */
  color: #9ecaed;
  /* color: #0c75d7; */
  border-radius: 50px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  border: 2px solid #9ecaed;
  /* border: 2px solid  #0c75d7; */
  /* border-radius: 7px; */
  outline: none;
  box-shadow: 0 0 10px #9ecaed; 
  /* box-shadow: 0 0 10px #0c75d7;  */
}
.box-on:hover {
  /* background-color: rgb(43, 1, 1); */
  border: 2px solid rgb(233, 4, 157);
  box-shadow: 0 0 10px rgb(233, 4, 157); 
  opacity: 1;
}
.box-on:active {
  background-color: rgb(233, 4, 157);
}
.box-off {
  background-color: black;
  color: black;
  border-radius: 50px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  border: 2px solid grey;
  /* border-radius: 7px; */
  outline: none;
	/* box-shadow: 0 0 10px #9ecaed;  */
}

.box-equals-on {
  background-color: black;
  /* color: lightblue; */
  color: #9ecaed;
  /* color: #0c75d7; */
  border-radius: 50px;
  padding: 70px 20px 0 20px;
  font-size: 150%;
  text-align: center;
  border: 2px solid #9ecaed;
  /* border: 2px solid  #0c75d7; */
  /* border-radius: 7px; */
  outline: none;
  box-shadow: 0 0 10px #9ecaed; 
  /* box-shadow: 0 0 10px #0c75d7;  */
}

.box-equals-off {
  background-color: black;
  /* color: lightblue; */
  color: #9ecaed;
  /* color: #0c75d7; */
  border-radius: 50px;
  padding: 70px 20px 0 20px;
  font-size: 150%;
  text-align: center;
  border: 2px solid grey;
  /* border: 2px solid  #0c75d7; */
  /* border-radius: 7px; */
  outline: none;
  /* box-shadow: 0 0 10px #9ecaed;  */
  /* box-shadow: 0 0 10px #0c75d7;  */
}
.box-equals-on:hover {
  /* background-color: rgb(43, 1, 1); */
  border: 2px solid rgb(233, 4, 157);
  box-shadow: 0 0 10px rgb(233, 4, 157); 
  opacity: 1;
}
.box-equals-on:active {
  background-color: rgb(233, 4, 157);
}
/* .power-btn {
  background-color: #444;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 150%;
  text-align: center;
  border: 2px solid  pink;
  outline: none;
	box-shadow: 0 0 10px pink; 
} */

.box-power-on {
  background-color: #444;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 150%;
  text-align: center;
  border: 2px solid  pink;
  /* border-radius: 50px; */
  outline: none;
	box-shadow: 0 0 10px pink; 
}

.box-power-off {
  background-color: #444;
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 150%;
  text-align: center;
  border: 2px solid  grey;
  /* border-radius: 50px; */
  outline: none;
	/* box-shadow: 0 0 10px pink;  */
}

.display {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  -ms-grid-row: 1;
  grid-row: 1;
}

/* .glowing-border {
	border: 2px solid  #9ecaed;
  border-radius: 7px;
  outline: none;
	box-shadow: 0 0 10px #9ecaed;  
} */


/* .glowing-border:focus { 
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
} */

.banner {
  -ms-grid-column: 1;
  grid-column: 1 / 4;
  -ms-grid-row: 2;
  grid-row: 2;
  color: #9ecaed;
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  font-weight: bold;
  padding: 20px
}

.power {
  -ms-grid-column: 1;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.ac {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 3;
}
.percent {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 3;
}

.slash {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 3;
}

.star {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 3;
}

.seven {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 4;
}

.eight {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 4;
}

.nine {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 4;
}

.minus {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 4;
}

.four {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 5;
}

.five {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 5;
}

.six {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  grid-row: 5;
}

.plus {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 4;
  grid-row: 5;
}

.one {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 5;
  grid-row: 6;
}

.two {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  grid-row: 6;
}

.three {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 5;
  grid-row: 6;
}

.zero {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 6;
  grid-row: 7;
}

.dot {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 6;
  grid-row: 7;
}

.plusminus {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 6;
  grid-row: 7;
}

.equals {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 6 / 8;
}

/* NEW POWER BUTTON */

.box-power-btn-on {
  background-color: black;
  /* color: lightblue; */
  /* color: #9ecaed; */
  /* color: #0c75d7; */
  border-radius: 50%;
  padding: 25px;
  
  width: 10px;
  height: 10px;
  /* font-size: 150%; */
  text-align: center;
  border: 2px solid #9ecaed;
  /* border: 2px solid  #0c75d7; */
  /* border-radius: 7px; */
  outline: none;
  box-shadow: 0 0 10px #9ecaed; 
  /* box-shadow: 0 0 10px #0c75d7;  */
  align-self: center;
  justify-self: center;

}
/* .box-on:hover {
  border: 2px solid red;
  box-shadow: 0 0 10px red; 
  opacity: 1;
}
.box-on:active {
  background-color: red;
} */
.box-power-btn-off {
  background-color: black;
  /* color: black; */
  border-radius: 50px;
  padding: 10px;
  /* font-size: 150%; */
  text-align: center;
  border: 2px solid grey;
  /* border-radius: 7px; */
  outline: none;
	/* box-shadow: 0 0 10px #9ecaed;  */
}
